main.blog-wrapper
	.container-fluid.container-fluid--ligtgreen.headline
		.container
			.row
				p.page-title Blog
	.container-fluid
		.container
			.articles
				.row
					.col-md-10.col-md-offset-2
						-if (Admin == 1)
							a.btn.post__btn(href='/admin/add') Add new post
							div
								br
								br
						- var  monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
						- if (posts && posts.length > 0)
								each post in posts
									article.post
										.post__info
											time.post__date(datetime='2014-08-03', pubdate='')
												p.post__month= monthNames[post.date.getMonth()]
												p.post__day= post.date.getDate()
												p.post__year= post.date.getFullYear()
											.post__comments
												p 12
												p comments
										.post__image
											img(src='/uploads/' + post.image, alt='')
										.post__author
											| Posted by
											strong= post.author
										h4.post__title= post.title
										p.post__descr= post.description
										a.btn.post__btn(href='/post?id=' + post.id) Continue Reading
										-if (Admin == 1)
											a.btn.post__btn(href='/admin/edit?id=' + post.id) Edit post
											a.btn.post__btn(href='/admin/delete?id=' + post.id) Delete post


						-	else
								h1 Повідомлення відсутні

				.pagination
					ul
						li
							a(href='')
								i.fa.fa-angle-left
						li
							a.active(href='') 1
						li
							a(href='') 2
						li
							a(href='') 3
						li
							a(href='') 4
						li
							a(href='') 5
						li
							a.dotted(href='') ...
						li
							a(href='') 6
						li
							a(href='')
								i.fa.fa-angle-right
